@{
    Layout = "_Layout";
}

<h2>Coloque los numeros que se sumaran</h2>

<form method="get" action="~/Suma/Resultado">
    <fieldset>
        <legend>Numeros a sumar</legend>

        <label>Numero 1</label> <input name="numero1" type="number"/> <br />
        <label>Numero 2</label> <input name="numero2" type="number"/> <br />
        <input type="submit" value="Enviar"/>
    </fieldset>
</form>