<html>
<head>
    <title>Practica 1. Unidad 2.</title>
</head>
<body>
    <h4>Enrique de la Pe&ntilde;a Navarro 171G0222</h4>
    <h4>Programaci&oacute;n Web</h4>
    <h4>Hector Javier Padilla Lara</h4>
    <h4>Lunes - Viernes 10:00 - 11:00</h4>

    @RenderBody();

    <footer>
        <h6>@DateTime.Now.ToShortDateString()</h6>
    </footer>
</body>
</html>